*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul a{
    text-decoration: none;
    color: black;
}
#nav1{
    position: fixed;
    top: 0;
}



@media screen and (max-width:767px) {
    #categoery{
        display: none;
    }
}
