{% extends "base.html" %}

  {% block con %}
  <div  id='categoery' class="row" style='margin: 8% 0 10%'>
    {% for rec in categoery %}
      <div class="col" id='d'>
          <div class="card mt-4" id='d'  style="width: 18rem;  border: 2px solid black">
            <img src="\media/{{rec.img}}" class="card-img-top object-fit-cover  " style='height: 35vh'>
            <div class="card-body">
                <h5 class="card-title ms-5 text-warning">{{rec.title}}</h5>
                <a href="{{rec.title}}" class="btn btn-danger " style='width:15rem'>{{rec.title}} </a>
            </div>
          </div>
        </div>
            {% endfor %}
  </div>



  <h1 class='bg-danger text-light text-center'> All News </h1>
  
    <!--  newsssss -->
    <section class="news">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {% for news in news %}
            <div class="row border-end border-2 mb-4 mt-4" >
              <div class="col-md-5">
                <img src="/media/{{news.img}}" alt="" style="height:50vh; width:100%;">
              </div>
              <div class="col-md-5 offset-1">
                <small class='text-danger'>{{news.date}}</small>
                <small class='text-danger ms-4 '>{{news.Categoery}}</small>
                <h3 >{{news.title | truncatewords:10  }}</h3>
                <p>{{news.description | truncatewords:32}} </p>
                <form class="d-flex" action="{% url "read" %}" method="POST" >
                  {% csrf_token %}
                  <input class="form-control me-2" type="hidden" value={{news.id}} name = 'read'>
                  <input class="form-control me-2" type="hidden" value={{news.id}} name = 'comm'>
                  <button  class="btn btn-outline-danger" type="submit"> Read more</button>
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </section>
  {% endblock con %}





