<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Read </title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>News24</title>
    
</head>
<body class='container'>

        <!--  newsssss -->
        <section class="news">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="row border-end border-2 mb-4 mt-4" >
                    <div class="col-md-5">
                      <img src="/media/{{read_items.img}}" alt="" style="height:50vh; width: 100%;">
                    </div>
                    <div >
                      <small class='text-danger'>{{read_items.date}}</small>
                      <small class='text-danger ms-4 '>{{read_items.Categoery}}</small>
                      <h1 >{{read_items.title   }}</h1>
                      <p>{{read_items.description }} </p>
                      <p> <a href="{% url "home" %}" class='btn btn-dark'> Back </a></p>
                    </div>
                  </div>
                </div>
                
                  
                  
                
              </div>
            </div>
          </section>    
</body>
</html>