{% extends "base.html" %}

{% block con %}

<!--newsssss -->
<section class="news">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% for i in search_items %}
          <div class="row border-end border-2 mb-4 mt-4" >
            <div class="col-md-5">
              <img src="/media/{{i.img}}" alt="" style="height:50vh; width: 25vw;">
            </div>
            <div class="col-md-5 offset-1">
              <small class='text-danger'>{{news.date}}</small>
              <small class='text-danger ms-4 '>{{news.Categoery}}</small>
              <h1 >{{i.title | truncatewords:8  }}</h1>
              <p>{{i.description | truncatewords:30}} </p>
              <a href="" class="btn btn-danger">Read more</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </section>



{% endblock con %}

